<table>
    <tr>
        <td>Sprint 1</td>
        <td><a href="{{site.baseurl}}/sprint/1/tools">Tools Setup</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/agile">Agile Methodology: A Mermaid-Based Overview and Manifesto Evidence</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/lxd">Learning Experience Design: Feedback and Iteration</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/javascript">JavaScript Frontend Basics and AI Evidence</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/team-lessons">Team Lesson Creation Learnings</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/grading">Grading Issues</a></td>
   </tr>
</table>